mixin slider()
  div.swiper.slider
    div.swiper-wrapper

      div.swiper-slide
        +picture("content", "main", "webp", 386, 485, "slide-1", "mobile-main")
      div.swiper-slide
        +picture("slides", "slide-1", "webp", 386, 485, "slide-2", "mobile-slide-1")
      div.swiper-slide
        +picture("slides", "slide-2", "webp", 386, 485, "slide-3", "mobile-slide-2")
      div.swiper-slide
        +picture("slides", "slide-3", "webp", 386, 485, "slide-4", "mobile-slide-3")
      div.swiper-slide
        +picture("slides", "slide-4", "webp", 386, 485, "slide-5", "mobile-slide-4")
      div.swiper-slide
        +picture("slides", "slide-5", "webp", 386, 485, "slide-6", "mobile-slide-5")
    div.swiper-pagination.
