.figure {
  font-style: italic;
  font-weight: 400;
  margin-bottom: size(180px);

  @include vp-1023 {
    margin-bottom: size(60px);
  }

  picture {
    display: block;
    overflow: hidden;
  }

  &__picture {
    margin: 0;
    overflow: hidden;
  }

  figcaption {
    font-size: size(18px);
    line-height: size(24px);
    margin-top: size(12px);

    @include vp-1023 {
      margin-top: size(20px);
    }
  }
}
