.header {
  background-color: transparent;
  padding: size(14px) 0 size(11px);
  width: 100%;
  z-index: 3;
  position: absolute;

  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @include vp-1023 {
      justify-content: space-between;
    }
  }

  &--sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  &.is-open {
    background-color: $color-default-white;
    .main-nav__list {
      display: flex;
      transition: 0.5s ease;
      height: 100vh;
      z-index: 20;
      padding: size(70px) size(20px) size(20px);
      justify-content: flex-start;
      flex-direction: column;
      margin-top: size(-12px);
    }
  }

  &.is-hidden {
    //Работа при no-js
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  &__logo {
    color: $color-default-white;

    svg {
      width: size(91px);
      height: size(54px);
    }
  }
}
