.intro {
  color: $color-default-white;
  font-family: $ff-space-grotesk;
  font-weight: 700;
  min-height: size(730px);
  position: relative;
  padding-top: size(237px);
  padding-bottom: size(260px);
  z-index: 0;

  @include vp-1023 {
    min-height: size(485px);
    padding-top: size(154px);
    padding-bottom: size(103px);
  }
}

.intro__content {
  display: inline-block;
}

.intro__text {
  margin: 0;
  font-size: size(40px);
  line-height: size(54px);
  font-weight: 400;
  pointer-events: none;

  @include vp-1023 {
    font-size: size(20px);
    line-height: size(27px);
  }
}
