.intro-info {
  .container {
    position: relative;
    padding-top: size(180px);
    padding-bottom: size(180px);
    display: grid;
    grid-template-columns: 60% auto;
    gap: 0 size(111px);

    @include vp-1023 {
      padding-top: size(61px);
      padding-bottom: size(60px);
      grid-template-columns: 1fr;
      gap: 0;
    }
  }

  &__img {
    background-color: $color-eclipse;
    align-self: start;
    position: sticky;
    grid-column: 2;
    top: 0;

    img {
      width: size(444px);
      height: size(523px);

      @include vp-1023 {
        display: none;
      }
    }
  }
}
