.main-nav {
  display: flex;
  margin: 0;
  margin-left: size(243px);
  padding: 0;

  @include vp-1023 {
    margin-left: 0;
  }

  &__list {
    margin-top: size(-12px);
    margin-left: size(243px);
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    list-style: none;

    @include vp-1023 {
      margin: 0;
      height: 0;
      overflow: hidden;
      position: absolute;
      background-color: $color-default-white;
      left: 0;
      right: 0;
      top: size(85px);
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-wrap: nowrap;
    }
  }

  &__item {
    margin-right: size(20px);

    @include vp-1023 {
      margin-bottom: size(40px);
      margin-right: 0;
    }
  }

  &__link {
    display: flex;
    font-weight: 800;
    font-size: size(14px);
    line-height: size(19px);
    width: size(201px);
    justify-content: center;
    text-align: center;
    padding: size(7px) size(18px);
    color: $color-default-white;
    border: size(2px) solid $color-default-white;
    border-radius: size(5px);
    transition: $trans-default;

    @include vp-1023 {
      width: size(201px);
      font-size: size(14px);
      line-height: size(19px);
      padding: size(7px) size(18px);
    }

    @include hover-focus {
      opacity: 0.8;
    }
  }

  &__toggle {
    display: none;
  }
}

.main-nav__toggle {
  border: none;
  background-image: none;
  background-color: transparent;
  cursor: pointer;

  svg {
    width: size(41px);
    height: size(41px);
  }

  @include vp-1023 {
    margin-left: auto;
    display: block;
  }
}
