.container {
  width: 100%;
  max-width: size($vp-1512);
  margin: 0 auto;
  padding: 0 size(100px);

  @include vp-1023 {
    padding: 0 size(20px);
  }

  @include vp-767 {
    padding: 0 size(20px);
  }
}
