mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "#",
        text: "About",
        bgColor: "#85186BCC"
      },
      {
        href: "#",
        text: "Exhibitions",
        bgColor: "#FFA169CC"
      },
      {
        href: "#",
        text: "Visit us",
        bgColor: "#5A739ACC"
      },
    ]

  header(class=headerMods, data-header).header
    div.container
      if(currentUrl === "index.html")
        //- lighthouse снимает 10 баллов SEO за <a> без href
        span.header__logo
          +img("svg", "logo", "svg", "91", "54", "Main-logo" )
      else
        a.header__logo(href="index.html", aria-label="Переход на главную")
          +img("svg", "logo", "svg", "91", "54", "Main-logo" )
      nav.main-nav
        button.main-nav__toggle.btn-reset(type="button", aria-label="Переключатель отображения меню", aria-pressed="false" data-burger)
          +icon("button-burger", 32, 29)
        div(data-burger).main-nav__wrapper
          ul.main-nav__list
            each link in headerLinks
              - const activeState = currentUrl === link.href
              li(style={background: link.bgColor}).main-nav__item
                if(activeState)
                  span.main-nav__link.is-active= link.text
                else
                  a.main-nav__link(href=link.href)= link.text
