mixin picture(path, image, format, width, height, altText, imageMobile)
  picture(class!=attributes.class)
    if imageMobile
      source(media="(max-width: 1023px)" type="image/webp" srcset="img/" + path + "/" + imageMobile + ".webp" + ", " + "img/" + path + "/" + imageMobile + "@2x.webp" + " 2x")
    source(type="image/webp" srcset="img/" + path + "/" + image + ".webp" + ", " + "img/" + path + "/" + image + "@2x.webp" + " 2x")
    img(src="img/" + path + "/" + image + "." + format, srcset= "img/" + path + "/" + image + "@2x." + format + " 2x", width= width, height= height, alt= altText)
